<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Search and Replace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search and Replace in Excel Files</h1>
        <input type="text" id="directory-path" placeholder="Directory Path...">
        <input type="text" id="search-text" placeholder="Search for...">
        <input type="text" id="replace-text" placeholder="Replace with...">
        <div class="buttons">
            <button id="search-button">Search</button>
            <button id="replace-button">Search and Replace</button>
        </div>
        </div>
        <div id="loader"></div>
        <div id="results"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
